[DEFAULT]
topic = /Raspi
client = myRaspy
host = xxxxxxxx.iot.eu-central-1.amazonaws.com
certpath = /home/pi/awsIOTCerts/
sensorqueue = /path/to/sensorqueue
scrapeintervalsec = 10
valid_sensor_ids = 44,c0
